# Arquivos de sistema e IDEs
.DS_Store
.idea/
.vscode/
*.swp
*.log

# Build e Dependências (Genérico)
dist/
build/
bin/
obj/
node_modules/
vendor/
__pycache__/
*.egg-info/
.env
.env.local

# PHP
composer.lock
.php-cs-fixer.cache
.phpunit.cache/
.phpstan.cache/
coverage/

# AI
AGENTS.md
CLAUDE.md
AGENTS.MD
CLAUDE.MD